*{
    background-color: #faeee7;
    margin: 0px;
    border: 0px;
    /* box-sizing: border-box;
*/
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 100px;
    padding: 12px;
    /* transition: all ease-in-out;
    -webkit-transition: all ease-in-out;
    -moz-transition: all ease-in-out;
    -ms-transition: all ease-in-out;
    -o-transition: all ease-in-out; */
    /* border: 3px; */

    /* height: 9ovh;
    width: 40vw; */
}
h3{
    font-size: 60px;
}
.heading{
    background-color: #ff8ba7;
}
.services{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ff8ba7;
    padding: 5px;
    box-sizing: border-box;
}
.card1,.card2,.card3{
    /* border: 8px; */
    margin-right: 8px;
    /* box-sizing: border-box; */
}
.card1,.card2,.card3{
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    transition: transform .2s;
    flex-direction: column;
    
}
.card1:hover, .card2:hover, .card3:hover{
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    transform: scale(1.5);
     
}
.container1 h4{
    font-size: 50px;
     
}
.container1{
    padding: 5px;
    color: #594a4e;
}
.class h1{
    border: 40px;
    padding : 30px;
    font-size:  80px;
}
.class h3{
    border: 40px;
    padding : 30px;
}
.titlebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo img{
    border-radius: 50%;
    border: 2px;
    padding-bottom: 4px;
}